<style type="text/css">
	.menu{
		color: white;
		background-color: black;
		margin-top: 0px;
		display:inline;
		padding: 10px;
		font-weight: bold;
		font-size: 16px;
		
	}
	.menu:hover{
		cursor: pointer;
		color:blue;
	}

	.format{
		display:none;
	}

	.menubar{
		width: 100%;
		background-color: black;
		margin-top: 0px;
		display: inline;
		padding: 15px;
		margin-bottom: 60px;
	}

	.container{
		width: 66%;
		padding: 10px;
	}

	.image{
		max-width: 20%;
		max-height: 30%;
		margin: 0px;
		padding: 0px;
	}

	h1{
    color:#29378c !important;
    font-size:30px;
    font-weight:bold;
    line-height: 34px;
    margin-top: -85px;
    margin-bottom: 85px;
}

h2{
    color:#d1572c !important;
    font-size:24px;
    font-weight:bold;
    line-height: 28px;
}

h3{
    color:#79AF00 !important;
    font-size:18px;
    font-weight:bold;
    line-height: 0px;
}

h4{
    color:#29378c !important;
    font-size:24px;
    font-weight:bold;
    line-height: 28px;
}

p{
    color: #3d3d3d !important;
    font-weight:normal;
    font-size: 16px;
    line-height: 26px;
}


</style>

<script type="text/javascript">
	function toggle(id){
		$('#intro').slideUp();
		$('#employer').slideUp();
		$('#goals').slideUp();
		$('#techs').slideUp();
		$('#jd').slideUp();
		$('#conclusion').slideUp();
		$('#acknowledgements').slideUp();
		$('#tips').slideUp();
		$('#firstPage').slideUp();


		$('#giftopiaEmployer').slideUp();
		$('#feddevEmployer').slideUp();
		$('#blueEmployer').slideUp();

		$('#giftopiajd').slideUp();
		$('#feddevjd').slideUp();
		$('#bluejd').slideUp();

		$('#feddevtechs').slideUp();
		$('#giftopiatechs').slideUp();
		$('#bluetechs').slideUp();

		$('#giftopiagoals').slideUp();
		$('#feddevgoals').slideUp();
		$('#bluegoals').slideUp();

		$('#feddevconclusion').slideUp();
		$('#giftopiaconclusion').slideUp();
		$('#blueconclusion').slideUp();

		$('#giftopiatips').slideUp();
		$('#feddevtips').slideUp();
		$('#bluetips').slideUp();

		if(document.getElementById(id).style.display == "none"){
			$('#'+ id).slideDown();
		}
	};

	function toggle2(id){
		$('#giftopiaEmployer').slideUp();
		$('#feddevEmployer').slideUp();
		$('#blueEmployer').slideUp();

		$('#giftopiajd').slideUp();
		$('#feddevjd').slideUp();
		$('#bluejd').slideUp();

		$('#feddevtechs').slideUp();
		$('#giftopiatechs').slideUp();
		$('#bluetechs').slideUp();

		$('#giftopiagoals').slideUp();
		$('#feddevgoals').slideUp();
		$('#bluegoals').slideUp();

		$('#feddevconclusion').slideUp();
		$('#giftopiaconclusion').slideUp();
		$('#blueconclusion').slideUp();

		$('#giftopiatips').slideUp();
		$('#feddevtips').slideUp();
		$('#bluetips').slideUp();

		if(document.getElementById(id).style.display == "none"){
			$('#'+ id).slideDown();
		}
	};

	 $(document).ready(function () {
	 	$('#intro').slideDown();
	 });
</script>

 <div class="image"> <img style="margin-top:-30px; width:90%" src="http://www.uoguelph.ca/info/graphicstandards/files/UofGidentifier.jpg" alt="University of Guelph"> </img></div>


 <!-- <div class="image"> <img style="margin-top:-50px" src="images/uog.jpg" alt="University of Guelph"> </img></div> -->

<center>
<div class="menubar" style="display:inline">
<div class="menu" onclick="toggle('intro')">Intro</div>
<div class="menu" onclick="toggle('employer')">Employer</div>
<div class="menu" onclick="toggle('goals')">Goals</div>
<div class="menu" onclick="toggle('techs')">Technology</div>
<div class="menu" onclick="toggle('jd')">Job Description</div>
<div class="menu" onclick="toggle('conclusion')">Conclusion</div>
<div class="menu" onclick="toggle('acknowledgements')">Acknowledgements</div>
<div class="menu" onclick="toggle('tips')">Tips</div>
</div>
</center>

<center>
<h1>Raaid Wilson Co-op Report</h1>
</center>

<div id="intro" class="container">
	
  	<h2> Welcome </h2>

<img style="width:40%; float:right;" src="http://www.bigredbarrel.com/blog/wp-content/uploads/2011/12/welcome-y2.jpg"></img>

	<p> Hello World, <br />
	Welcome to my website.   This is a blog or a presentation of the co-op experience at the University of Guelph.  An insight into the beginnning of my journey in the workplace.  The co-op program supports and leads students as they make future career and education desicions.  It has provided me with job search skills, and experiental learning and employment opportunites.  I have worked on 3 co-op jobs in total.  One for Giftopia on the Summer 2013 and the other one for FedDev in Fall 2013.  My 3rd co-op job was in Guelph for a medium-sized company called Blue North.  I will discuss some of the skills I learned as well as some goals I worked towards; the technologies I worked with and some outstanding aspects of the projects, throughout all my work-terms.
	</p>

	<p><br />
	As a result of my first co-op work term at Giftopia Inc.  I was able to create my own Heroku application using Ruby on Rails.  This website is a small portion of the vast knowledge gained at Giftopia.</p><br/>

	<p> For Fall 2013 I worked for the government. This site will include some tips and techniques on how to develop successful applications, as well as some lessons I learnt in my experience working for the government.</p><br/>

	<p> For winter 2016, my last work-term was with Blue North.  This final addition will include my experience to work with large scaled data, its analysis, excel tips and creating polished presentations.
	<p>

</div>

<div id="employer" class="container" style="display:none">
  <div class="menu" onclick="toggle2('giftopiaEmployer')">Giftopia</div>
  <div class="menu" onclick="toggle2('feddevEmployer')">FedDev</div>
  <div class="menu" onclick="toggle2('blueEmployer')">Blue North</div>
  <h3 style="margin-top:40px">  Select an Employer from the list above. </h3>
</div>

<div id="jd" class="container" style ="display:none">
  <div class="menu" onclick="toggle2('giftopiajd')">Giftopia</div>
  <div class="menu" onclick="toggle2('feddevjd')">FedDev</div>
  <div class="menu" onclick="toggle2('bluejd')">Blue North</div>
  <h3 style="margin-top:40px">  Select an Employer from the list above. </h3>
</div>

<div id="techs" class="container" style="display:none">
  <div class="menu" onclick="toggle2('giftopiatechs')">Giftopia</div>
  <div class="menu" onclick="toggle2('feddevtechs')">FedDev</div>
  <div class="menu" onclick="toggle2('bluetechs')">Blue North</div>
  <h3 style="margin-top:40px">  Select an Employer from the list above. </h3>
</div>

<div id="goals" class="container" style="display:none">
  <div class="menu" onclick="toggle2('giftopiagoals')">Giftopia</div>
  <div class="menu" onclick="toggle2('feddevgoals')">FedDev</div>
  <div class="menu" onclick="toggle2('bluegoals')">Blue North</div>
  <h3 style="margin-top:40px">  Select an Employer from the list above. </h3>
</div>

<div id="conclusion" class="container" style="display:none">
  <div class="menu" onclick="toggle2('giftopiaconclusion')">Giftopia</div>
  <div class="menu" onclick="toggle2('feddevconclusion')">FedDev</div>
  <div class="menu" onclick="toggle2('blueconclusion')">Blue North</div>
  <h3 style="margin-top:40px">  Select an Employer from the list above. </h3>
</div>

<div id="tips" class="container" style="display:none">
  <div class="menu" onclick="toggle2('giftopiatips')">Giftopia</div>
  <div class="menu" onclick="toggle2('feddevtips')">FedDev</div>
  <div class="menu" onclick="toggle2('bluetips')">Blue North</div>
  <h3 style="margin-top:40px">  Select an Employer from the list above. </h3>
</div>

<div id="giftopiaEmployer" class="container" style="display:none">
	
	<h2>Giftopia Inc.</h2>

	<img style="width:26%; float:right; height:120px" src="http://www.techvibes.com/public/cache/company/220x145/14093_giftopia_inc_255255255.jpg"></img>

	<img style="width:26%; float:right; height:120px; margin-right:-250px; margin-top:120px; margin-bottom:20px" src="http://www.eventastic.com/img/eventastic_mobile.png"></img>

	<img style="width:26%; float:right; height:160px; margin-right:-250px; margin-top:218px" src="https://lh3.ggpht.com/YEfWGuslxVoduDLBpQWek0H73nA_3aZ_BQu6ls7wTrPRvmbxDghLPU99i3LFKIIm-sc=w300"></img>

	<div style="display:inline-block; width:100%;">
	<div style="width:66%; margin-top:-108px">
	<p>I worked for a small start-up company called Giftopia Inc.  Giftopia is a social gifting application available on your computer, iPhone or Android-powered Smartphone. Giftopia is a free personal gift registry that makes gift giving and receiving both fast and easy for Birthdays, Anniversaries, Weddings or any occasion! They have several platforms and projects under their name; including theweddingregistry.me, the one I worked on was Eventastic.com.  Eventastic is an event ticketing, management and promotion platform for event planners and part of Giftopia Inc. All of these rich features are conceptualized, built and maintained by our team in Waterloo Ontario.</p>
	<br />
	

	<p>The area of computing science this is related to is Web Development.  My CTO's name was Adam Morrison.  He recently got married.  He himself is a University of Guelph graduate in Systems of Engineering.  He used to skate at an Olympic level.  The founder of Giftopia, Randy Bird, is a serial entrepreneur with over thirty years of experience running his own businesses. He was inspired to create Giftopia because he was having a hard time finding the right gifts for family and friends, and wanted to make the entire gift shopping experience easier.  </p>
	</div>

	</div>
	
</div>

<div id="feddevEmployer" class="container" style="display:none">
  <h2> Federal Economic Development Agency for Southern Ontario </h2>
  <br />

  <div style="width:26%; float:right">
  <img src="http://www.fundica.com/fundica_template/providers/07a6_1333131946.png"></img>
  </div>

  <p>  Federal Economic Developent Agency for Southern Ontario is a departement within the Government of Canada with an unfortunately long name.  My email address associated with the agency was rather lengthy as well (raaid.wilson@feddevontario.gc.ca).  From here on in, they shall be refered to as FedDev or FedDev Ontario.  On the whole, they help Southern Ontario communities and businesses diversify and strengthen their local economies, by helping them to become more competitive, innovative and productive. 

  <br /> <br />FedDev Ontario will work to provide the tools for regional partners to build on their strengths, positioning Southern Ontario to succeed in the emerging, knowledge-based economy.  They essentailly provide start-up businesses funding, they require to run their day to day operations.  It is an initiative that builds the emerging business from bottom up.  One that will strengthen the economy of Southern Ontario.  That is an overview in their role in the government.  I however, do not know the details how their main functions operate, the procedures associated of their main role.  I worked for Internal Services.  Please see Job Description for further details. 

</div>

<div id="blueEmployer" class="container" style="display:none">
	<h2> Blue North </h2>
	</br>

	<div style="width:26%; float:right">
	<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAZCAAAAJDljZTI4ZjA0LTk2OTgtNDM5MC1hZGU0LTMzYzJkY2MwM2ZiMw.png"></img>
	</div>

	<p> Blue North works with non-profit organizations to help increase their donor base and donations.  They work with 27 clients with a staff of 30 people with a goal of helping their clients collect more money for charity.
	They do this is several ways; which range from datawork to help find the right donors; to sending out personalized mailings to which people donate through.</p>  

	<p>They work with a range of donors known as middle, major and mega; with a different giving range depending on the organization.</p>

	<p>Their moto: "We help you scale your up your efforts and grow your resources so you can change the world."

	It relates to computer science as I was part of the data team to help learn more their donors; and increase their satisfaction and engagement for more effective fundraising.  I worked with the clients data with Microsft SQL and OLAP cube sources to gather all sorts of valuable information needed for reports.  </p>.

</div>

<div id="giftopiagoals" class="container" style="display:none">

<h2>Goals</h2>

<p>As a programmer with very little work experience, I had plenty to learn, goals to accomplish and this was the perfect platform for me to do so.  The following paragraphs will discuss my initial goals, the one I developed relating to my job tasks, and skills I wanted to learn.  I had many tasks assigned to me, but I will overview the major ones and group them together to keep the information brief.</p>

<p>I wanted to learn how to produce, develop and deploy my own website.  Work on making static and function HTML pages as well as learn database management.  Going into this job, I had no experience or any idea as to how I would go about doing that.  I did not know anything about the technologies or methods related to making a web page.  All my goals were associated to the tasks assigned to me, and skills I wanted to learn were needed to fulfill those tasks.  Along the way I will discuss some of the problems I encountered as well as some tips I can provide looking back at my personal experience.</p>  
<br />

<div style="border-style:solid; border-width:3px; padding: 10px">
<h3>Job Task:</h3>
  <p>Firstly I had to set up the coding environment in which to develop the website.  This involved installing and setting up Github, RVM, Heroku, Ruby on Rails and postgresql.</p><br />

<h3>Goal:</h3>  
<p>The goal was to efficiently get set up and introduce myself to the workplace environment and brief myself on the previous code.  I had to quickly get through Michael Hartl’s tutorial and use the database.yml file provide by my CTO to have the databases be created and store information correctly.  I achieved this goal, and then worked on the website code, but it could’ve been done a lot more efficiently.</p><br />

<h3>Skill Associated:</h3>
<p>Time Management Skills.  Quickly adapting to new technology.</p>
</div>
<br />

<div style="border-style:solid; border-width:3px; padding: 10px">
<h3>Job Task:</h3>
<p> Research various project management tools for everyone in the company to use.  Pick the best one, implement it and deploy it.  Prepare a document giving a brief explanation as to how to use the platform.  This tool would be used to report assign and keep track of conflicts.  This was a solely for me to complete.</p><br />
<h3>Goal:</h3> 
<p>
  There was a project management tool in place before but was disliked and rejected by members of the company.  The web application had to be user friendly, intuitive and compatible with the system.  There were other platforms like Bugzilla, Mantis, and Trac however after a lot of research Redmine was chosen.  It was written in Ruby on rails and was successfully cloned and deployed on glacial-bayou-8601-herokuapp.com.  It is currently being used by Giftipia Inc. as their only project management application.</p><br />

<h3>Skill Associated:</h3>
<p> Cloning and deploying an open source project.</p>
</div>
<br />

<div style="border-style:solid; border-width:3px; padding: 10px">
<h3>Job Task:</h3>
<p> Research a tooltip source to display info when the mouse hovers over the information icon.</p><br />
<h3>Goal:</h3>
<p>  To successfully implement a tooltip JQuery plug-in API into the website.</p><br />
<h3>Skill Associated:</h3>
<p>Implementing a JQuery plugin.</p>
</div>
<br />

<div style="border-style:solid; border-width:3px; padding: 10px">
<h3>Job Task:</h3>
<p> Replace the current photo showing API used on the event page, as it is too slow, takes a long time to load and does not re-size appropriately.  Instead replace it with the Flex-slider used previously on the Edit page.</p><br />
<h3>Goal:</h3>
<p> Be able to take user photos.  Store them correctly.  Then access the right place in Postgres to loop through the photos when on the current web-page.</p><br />
<h3>Skill Associated:</h3>
<p> Use the model to correctly store user images.  Learn embedded ruby to look through the images.  Implement the Flexslider tool correctly.</p>
</div>
<br />

<div style="border-style:solid; border-width:3px; padding: 10px">
<h3>Job Task:</h3>
<p> Resize the main page, add bullets, and other layout of the landing pages and the event page.</p><br />
<h3>Goal:</h3>
<p> Learn how to use CSS, and other HTML techniques for the look and feel of the website.</p><br />
<h3>Skill Associated:</h3>
<p> Sytling and properly laying out multiple static and non-static web pages</p>
</div>
<br />

<div style="border-style:solid; border-width:3px; padding: 10px">
<h3>Job Task:</h3>
<p> Have the cash gifting editing section appear on the same page when the edit button is clicked rather than re-directing the user to a new Window.</p><br />
<h3>Goal:</h3>
<p> Learn how to use Ajax calls.</p><br />
<h3>Skill Associated:</h3>
<p>Correctly utilize the MVC model of application architecture.  </p>
</div>
<br />

</div>

<div id="feddevgoals" class="container" style="display:none">
<h2> Goals </h2><br />

<h3>Discipline</h3>
<p> For my work habits I tend to be a bit of a perfectionist.  That type of work attitude would not help me in this environment, as often times there would be several things due at once.  I had to develop the right attitude to exceed in the workplace.  For example; rather than thinking about the exact right words for an email, I would fire off some emails rather quickly.  This developed alongside my corporate communication skills.</p>  <br /><br />

<h3> Asking the right questions</h3>
<p>  At my previous job, Adam Morrisson, my CTO was more like a teacher than an employer.  The situation at FedDev was drastically different.  There were set processes in place, however most times, the next steps to take had to be figured out; decisions that depended on my manager and I.  Moving forward, the right questions had to be asked in order to cover all the bases and make an informed decision.  For example, dealing with CBO's request to purchase more computers.  Or an odd request; such as buying a laptop, which is not supported by IC, but is however on the standing offer.
</p><br /><br />

<h3>Project Management Skills</h3>
<p> For DSR, I was coordinating with the staff of FedDev, the DSR testing team, the IC technicians, the main contact for keeping the DM up to date; I had to keep everyone on the same page to minimize discrepencies and degrees of error.  This also includes my goal to function in a team environment efficiently.</p><br />

<h3> Basic PC Understanding </h3> 
<p>  Better understanding of basic PC Peripherals, PC hardware components, Arms, and hard-drives.  This involved putting together monitor arms and often setting up people's work stations.  There were some duties which were not covered by IC's Service Level Agreements which fell upon us.  In this job, we also took apart a computer and put it back together; courtesy of my supervisor.  And learned how to connect a KVM switch; used to connect two computers to two seperate monitors. </p><br />

<h3> DSR </h3>

<p> DSR: My work on this project was basically one main goal.  There is a lot involved; which is why I choose to discuss the details here rather than in the "Job Description" section.  I had to prepare a deployment map, which consisted of all the staff in FedDev, and the softwares they use.  The versions of the software the amount needed to be installed had to be included.  For most software, the versions were being upgraded, their pricings had to be found.  As well as the licencing information we had, in order to upgrade them.  Going  forward with DSR, what IC was implementing was a lockdown desktop.  What this meant is that there was going to be a stricter control on what people could download and purchase for software.  The software would have to be approved by the IT team (my manager and I), and would require an IC technician's Admin rights to be installed.  Only software that was approved by CIO, would be allowed to install.  This would help SSC provide consistent support throughout FedDev and help IT better control the budgeting, tracking and licence information.  This was my most important role at Feddev, as Microsoft is retiring its support for Win XP this april.  If the migrations were withheld, feddev would have to pay Microsoft millions of dollars for support as it would a huge security risk.  If the migrations were unsuccessful, or if the information provided by IT was inaccurate.  The big risk would be that the IC Service Desk would be flooded with requests, with not enough technicians to handle them, Or a lot of staff would be without the proper utilities for a certain number of days, which they need to complete their day to day activities.  </p><br />

<p>With regards to DSR; I was also responsible for application testing, procurement and packaging.  So for all the applications the staff currently uses, I was the app custodian for a few of them.  I had to ensure that the apps were Windows 7 Compatible.  That all their functions worked.  If they didn't I would work the the testing team to de-bug those issues.  Afterwards I would prepare the installation instructions and provide the licensing info and installs; and place them in the appropriate shared directory.</p>
<br /><br />

<h3>Transfer of Knowledge</h3>
<p> One of the main aspects of the government is that people are always moving around internally as terms constantly end and other people take over your work.  Handing over all the information to the person taking over my position was another one my goals.  All the information had to be written, properly documented and communicated over to my successor.  It had to be done in such a way, that no information was missed; especially anything critical, or aspects that I alone knew about.  Also I had to let everyone else, with whom I was co-ordinating; know that I was leaving and to continue the project with the new co-op student.  The people were really nice, wished me well; and said that as a client, I was extremely comprehensive and cooperative.  It was a nice tie up to the semester. </p><br /><br />

<h3> Time Management: Prioritizing Tasks effeciently.</h3>
<p>  This was extremely important in-order for me to do my job well.  I acheived this goal through experience.  For example, if there were tasks whose completion depended on intermediaries; I would send off those emails first; especially if I anticipate that the information is difficult to find.  Any packages I would send off to remote locations would be dealt with sooner than the requests in kitchener.  I learned about how long the teams for each application took to respond.  IC was the slowest as there were very few technicians; so I would create tickets for those requests first. </p><br /><br />

<h3> Corporate Communication Skills</h3>
<p>  This includes the ability to clearly and concisely communicate my thoughts both in writing and orally.  It was something learned as a result of the job with a bit of help from my supervsior.  </p>


</div>

<div id="bluegoals" class="container" style="display:none">
	<h2>Goals</h2>
	<br/>

	<p>My main goals for this work term were to learn how to effectively use excel, create professional presentations with powerpoint, learn to create queries with the OLAP cube source, as well as work with Microsoft SQL, Microsoft Access, and VBA as it was needed to do well in all aspects of my job. 
	</p><br/>

	<div style="border-style:solid; border-width:3px; padding: 10px">
	<h3>Job Task:</h3>
	<p> Run the initial process report for Princess Margaret foundation as it pertains to segmenting the different types of donors by our asking amount and their giving behaviour.</p>
	<h3>Goal:</h3>
	<p> Provide a list of donors to the client for their next appeal mailing for donations. </p>
	<h3>Skills Associated:</h3>
	<p> Running the Macros created by the tech team on Microft Access.  Spot checking to ensure the correct donor list has been selected and presenting the list via Excel. </p>
	</div><br/>

	<div style="border-style:solid; border-width:3px; padding: 10px">
	<h3>Job Task:</h3>
	<p> Run a time series analysis on the new donors for World Vision US (WVUS) that were recruited in 2012.</p>
	<h3>Goal: </h3>
	<p>Find the long term donor value for the new donors that have come in since 2012 for World Vision US.  That what was their initial giving and what would their giving be in 10 years from now.  The question we were trying to answer for the client was that "Was the money spent trying to recruit these new donors worth it?".  "Would they pay off dividends in the long run?". </p>
	<h3> Skills Associated: </h3>
	<p> Determining the long term value would involve researching and learning how to effectively do a time series analysis in excel; it involved the math and stats skills learnt in university.</p>
	</div></br>

	<div style="border-style:solid; border-width:3px; padding: 10px">
	<h3>Job Task:</h3>
	<p>Create queries from Olap Cube Source for 3 major clients: Bethany Christian Services (BCS), WVUS, Wycliffe Bible Translators (WBT).</p>
	<h3> Goal: </h3>
	<p> To create charts and tables in excel to be exported to powerpoint for presentation to the clients. </p>
	<h3> Skills Associated: </h3>
	<p> This was one of the skills that had largely to do with the job.  Creating Pivot tables was knowledge learnt on the interview but the challenging part was getting to know the data thoroughly.  Sometimes the cube source did not provide all the information and data had to be collected from the Microsoft Database itself.  So being able to use Microsoft SQL was truly an asset.  Run queries on the tables.  Export thousands of records to excel.  Manipulate the excel sheets to dig out the results.  Present the results through polished presentations in PowerPoint. </p>
	</div></br>

	<div style="border-style:solid; border-width:3px; padding: 10px">
	<h3>Job Task:</h3>
	<p> Create a presentation for WVUS of a how the Food Appeal did at 30 days interval till days120. </p>
	<h3>Goal: </h3>
	<p>Unlike the Wycliffe, and Bethany cube, the WVUS cube was quite outdataed and you could not just filter the correct measures (To be discussed under technologies) by days. You would have to manually select the correct number of days for each interval.  Selecting 120 days manually for a report can be quite lengthy.  So we decided to automate the process using VBA.</p>
    <h3>Skills Associated:</h3>
    <p>I had never coded in VBA.  This was my opportunity to learn the Microsoft programming technologies.  And develop some legacy code so it could be used for many presentations to come.  The skills learnt from university that I used for this task were the ability to adapt to new technology and quickly learn and set-up new projects. </p>
    </div></br>

    <div style="border-style:solid; border-width:3px; padding: 10px">
    <h3>Job Task:</h3>
    <p>Provide insight along with the tables and charts presented.</p>
    <h3>Goal:</h3>
    <p>To give client information about their donors in a concise and clear manner.  The takeaways from the presentation and how it should help shape their actions and next their appeals as it pertains to fundrasing.</p>
	<h3>Skills Associated:</h3>
	<p>Team-work skills were important as this task was done in conjunction with my supervisor who was the Director of Client Insights.  The important skills learned from this job were the analysis skills as to what information is relevant, how it is important and can be applied in every-day decisions for the clients.</p>
	</div>    

</div>

<div id="feddevtechs" class="container" style="display:none">
<h2> Technologies Employed </h2>

<p> My job at FedDev was not a coding job.  It was more of an exposure to the work systems in the Government of Canada.  I was exposed to various processes along with some tools I used like, GCDOCS, JIRA, and remote connection for DSR testing.  Below is the running list of Accronyms for a reference.</p> <br />  

<h3>Departements within FedDev</h3>

<p> <b>BICD</b> - Business Innovation and Community Development</p> 
<p> <b>CBO</b> - Canada Business Ontario </p>
<p> <b>HR</b> - Human Resources </p>
<p> <b>COMMS</b> - Communications </p> 
<p> <b>IM/IT</b> - Information Management/ Information Technology </p> <br />

<h3> Access to Applications I Facilitated </h3>

<p> <b>FDOGC</b> - FedDev Ontario Grants and Contributions </p>
<p> <b>CMIS</b> - Content Management Interoperatability Service </p> 
<p> <b>QP Cards</b> - Question Period Cards</p>
<p> <b>GCRS</b> - Government Contract Regulations </p>
<p> <b>IFMS</b> - Integrated Financial and Material System; A system used for Asset Management by Procurement <br />
<br />

<h3> My Projects </h3>

<p><b> CTC </b> - Cut the Cord </p>
<p><b> DSR </b> - Desktop Software Renewal </p>
<p><b> DM </b> - Deployment Map </p> <br />


<h3> Tools I used </h3>
<p><b> JIRA</b> -  A project management and issue tracking tool similar to Redmine the one I deployed for Giftopia.
</p>
<p><b> RVM Monitor Arms </b> - Used to uphold the monitors to maximize space when having a dual monitor setup. This was part of work place 2.0.  Before everyone used to have large cubicles that went up all the way to the ceiling.  There also used to be an office in Simcoe.  That office closed and they moved over to the Kitchener Location.  Subsequently the cubicles were shrunk; and the work place was more compact.  It was also an effort to encourage open communication over emails.</p>

<p><b> Excel</b> - I used it for Data Logging, as well as preparing the Deployment Map. </p>
<p><b> SnagIT</b> - A Snipping Tool, which is extremely handy when taking screen shots or creating documents that require lots of copying and pasting. </p>
<p><b> BassetPro</b> - Used to track all the assets deployed and used for inventory management.  This was IT's tool for their records; much like IFMS. </p>

<p><b> GCDOCS </b> A web based application, used for information management and logging throughout Feddev.  It is like Dropbox, it enables you to save your documents online.  It also allows for editing, using workflows, encryption, restricted access, live chat, and creating a personal search.</p>

<p>  The government of Canada needed such a database for storing files, as it is a part of their greening the environment initiative.  The IM/IT team at feddev were the ones to start this project and introduce it as the official app.  Feddev and OCL are currently the only agencies using this platform as test before spreading it to other departements. </p>

<p><b> Enterprise Connect</b> It is a coporate app which lets you manage all your GCDOCS document offline.  You could open and Edit documents straight through this install.  And then drag and drop all your folders and work done, into GCDOCS.  It essentially creates the same space as GCDOCS inside your computer. </p>

<p>  This is ideal for creating and submitting large amounts of documents and folders at one time; rather than adding them one by one through the website.  You can also have it connected to your Outlook email and save any important communications inside the space created by Enterprise connect.  And those messages are saved in GCDOCS by doing just that.</p>

<p><b>Office Editor</b> is the editing tool that lets you open and edit the GCDOCS documents through word or excel or any other supported form of documentations.  </p>

</div>






<div id="giftopiatechs" class="container" style="display:none">
<h2>Technologies Employed</h2>
<p>This section outlines all the technologies I was exposed to on this term, a brief description and acronym of it, and some of the uses of it, as experienced by me.</p>

<h2>Why</h3>
<p>I am part of the technological generation, and grew up using the internet.  It is as intuitive to me, as walking, eating, sleeping or any other everyday activity.  I had been doing programming since the 10th grade; learned all these algorithms, looping structures, and other technicalities.  I still had not had any idea how an HTML web page is made and how it is displayed to me at my computer.  It had always fascinated me and an interest that I wanted to pursue.  I had very little knowledge of where to begin or a direction of where to look.  These were the technologies introduced to me, with which I quickly became involved.  They were used by our Chief Technology Officer and a common practice of our work place.  </p><br />

<h3>Ruby on Rails:</h3><p> It is an open source web application framework.</p><br />

<h3>Ruby Version Manager (RVM):</h3><p> RVM is a command-line tool which allows you to easily install, manage, and work with multiple ruby environments from interpreters to sets of gems.  I wanted to work with this manager because I used several different versions of Ruby for different purposes and RVM makes it easy to switch in-between especially if you get conflicting errors.</p><br />

<h3>GIT:</h3><p>  Open source version control system.  This was the version control used by our development team of 6 people.</p><br />

<h3>Github:</h3><p> Collaboration, code review, and code management platform for open source and private projects.</p><br />

<h3>Heroku:</h3><p> This is a cloud application platform used to deploy the website.  It supports several languages including Ruby, Node.js, Clojure, Java, Python, and Scala.  It was mostly used to retrieve the most recent code version of the website.  Being an intern I was never allowed to push directly to the server but rather submit the changes made to the code.  </p><br />

<h3>Model, View, Controller (MVC):</h3><p>  It is a programming concept and design pattern widely adopted for application frameworks; one used for the Eventastic project as well.</p><br />

<h3>Cascading Style Sheets (CSS):</h3><p> Used to control the style and layout of multiple web pages, using classes and ids.  </p><br />

<h3>Asynchronous JavaScript and XML (AJAX):</h3>
<p> Used to exchange data with the server and updating parts of web page, without reloading the whole page.</p><br />

<h3>Embedded Ruby (ERB):</h3><p> The main programming language used to make Eventastic.</p><br />

<h3>JavaScript (JS):</h3><p> This the scripting language, used by HTML pages for functionality, input validation, communicating with the webserver and other variety of uses.  I used it to collect, store and display user information, particularly for when a user created an event.  </p><br />

<h3>JavaScript Object Notation (JSON):</h3><p> Much like XML, but It is a faster and simpler syntax used for storing and exchanging text information.</p><br />

<h3>JQEURY:</h3><p> It is a Javascript library filled with pre-defined functions which make performing Javascript tasks much easier, and simpler.  It makes the code more readable, maintainable and very intuitive and easy to use.</p><br />

<h3>PostgreSQL:</h3><p>  Is an object relational database management system.  It is used for data creation, migration and manipulation.  This was the platform used to store, organize and handle all the information about Eventastic’s clients, and their associated events and relating details.</p><br />

<h3>Redmine:</h3><p> An open source project management web application.  This was the project I solely worked on and deployed; more information on this in Goals.</p><br />

<h3>Tooltipster:</h3><p> A JQuery plugin used to display information at the very location of where it’s needed.</p><br />

<h3>Flexslider:</h3><p> It is another responsive JQuery slider toolkit.  It was used for the Eventastic’s photo sharing functionality.</p><br />

<h3>Secure Shell (SSH) keys:</h3><p>  It is a cryptographic network protocol for secure data communication between two networks.  It was used to mainly to pull code deployed through heroku on the main server, so I would work with the latest code version.<p><br />

</div>

<div id="bluetechs" class="container" style="display:none">
	<h2>Technologies Employed</h2>
	</br>
	<h3>Microsoft Excel:</h3><p> "Proficient in Microsoft Excel" This peice in my resume played a huge part for my job.  The pivot tables, the charts, and the raw donor records had to be dealt with in excel.  There were numerous handy functions used (discussed under tips) as well as charts and other analysis tools.  This was the main tool used to create the reports for the clients.</p></br>

	<h3>Microsoft Access:</h3><p> Most of the datawork for Princess Margaret Cancer Foundation was done in Microsoft Access.  They had a very complicated segmenting criteria and the logic was applied via Access to produce certain donor lists.  I converted the SQL version of that logic to Microsoft Sql.</p></br>

	<h3>Microsoft PowerPoint:</h3><p> This software was used for the final presentations.  We usuallly had set templates to follow.  For the most part I had to keep the font, color, and style consistent throughout each deck I created.  I was allowed the freedom for a little bit of creativity.</p></br>

	<h3>Microsoft Visual Basic:</h3><p> I coded little things to quickly select filters rather than doing them manually.  A really good language for code that connects to excel.</p></br>

	<h3>Microsoft SQL:</h3><p> I worked with the database and tables already set up for clients.  And ran queries to get various measures that were not already populated in the Olap Cube Source.</p></br>

	<h3>Olap Cube Source:</h3><p> This is the source of data derived from the database tables to create pivot tables.  It include rows, columns, filters, and measures.  This is what I mostly worked with. </p>

</div>

<div id="giftopiajd" class="container" style="display:none">
<h2>Job Description:</h2>
<img style="width:40%; float:right" src="http://codedmonkey.files.wordpress.com/2010/11/codemonkey.jpg"></img>
 <p>Giftopia is a fast paced work environment with an incredible opportunity to jump into a project waste deep and develop real world practical software development skills.  I worked on the development of Eventastic.  I worked with various web technologies like Ruby on Rails, JavaScript and JQuery.  I familiarized myself with concepts and design patterns such as MVC.  </p>

<p>The most unique aspect of my job is that there were only 6 people in the development team, and everyone sat in the same room coding with computers next to each other.  The president of the company worked alongside our table, and I got to know him personally as well.  The most unique aspect would be my colleagues and my CTO.  It has been an absolute pleasure working with my team.  The skills needed for the job was some previous coding experience, self-motivation, and ability to work with minimal supervision.  Most of the technical skills were learnt on the job.  </p>
</div>

<div id="feddevjd" class="container" style="display:none">

<h2> Job Description</h2>

<img style="width:40%; float:right;" src="http://nerdinkblog.files.wordpress.com/2013/01/1642562-98978-busy-office-guy-at-work-on-his-computer.jpeg"></img>

<p>
First off, a little background on our Office.  FedDev spanned over 5 floors, which consisted of the following departements: BICD, Comms, Finance, HR.  I was part of the IM/IT team in Internal Services.  Internal Services consisted of Procurement, mailroom, accomodations, information management and information technology.  We were the head of IT for 3 locations, which were Kitchener, Ottawa, Peterborough and Toronto.
<br />
<br />

They use a lot of Accronyms in the Government.  I have included a list of Acronyms in the Technology section of my website.   My job was to work with IC, CIO, and SSC to facilitate and co-ordinate with them, to ensure the IT needs of all the staff of 250 people in the agency were met.  
This was a mandatory position withing the government that had to be filled and I was treated as any other employee within the agency.  I had actual roles and responsibilities, which had concequences should they not be completed in a timely manner.  Unlike Giftopia, where my awesome CTO took the pressure off of all the co-op students; this was a much more actual world workplace in the sense that there were pressures that rested solely on me; associated with completing work in an environment which affected all of 250 Staff. 

<br />
<br />

My main duties included oversight of the Desktop Software Renewal (DSR) project.  The staff of FedDev Ontario currently use the Windows XP Operating System.  And they are migrating over to Windows 7.  

I had to facilite any FDOGC, GCRS, CMIS, GCDOCS, requests.  Any software or hardware requests that came through.  

Track and Tag all assets in BassetPro, This ranged from any expensive software, to all the PC's, Laptops, Blackberry Cellphones, 

Integration of CBO into FedDev and ensuring that all of thier IT needs are meet and accounted for.

</p>
</div>

<div id="bluejd" class="container" style="display:none">
	<h2> Blue North Job Description</h2>

	<img style="width:40%; float:right;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/38236-200.png"></img>
	
	<p>My role at Blue North was that of a Data Analyst.  I was responsible for producing reports and conducting data queries for clients.  The analyst position is one that supports the consultants and account managers for data analysis for meeting and presentations with organizations.  Smaller data requests, qualitative research, adding polish to documents and technical help with software was also part of the role.</p></br>

	<p>The main clients we worked with that require support were:
		Bethany Christian Services(BCS),
		Wycliffe Bible Translators(WBT) and
		World Vision US (WVUS).</p>
	</br>
	<p>	This job required me to rein vast amounts of detail, make sense of it, build a logical framework, perform a highly impactful analysis and communicate it in meaningful manner.  I also had to provide and insights and recommendations with each request.  Data had to be gathered from different sources, such as client data, email campaigns, and other excel or text files.  I also had to perform statistical analysis for compelling summaries of visual presentations such as charts and tables.  My job also entailed performing online research and documenting any findings that will contribute to this role.  And finally the documents prepared for clients had to be consistent, and proof-read with clear formatting.</p>

</div>

<div id="giftopiaconclusion" class="container" style="display:none">
<h2>Conclusion:</h2>
<p>This has been an extremely fulfilling first Co-op work term.  I had a lot to learn, met some great people and gained real world practical Software Development skills.  I have had the privilege of working with great colleagues in a positive professional environment, under the great leadership of my CTO, Adam Morrison.  I learned the basics of how a website is created and deployed.  Managed a variety of Html pages with embedded ruby, used CSS to control the style and layout of numerous pages, worked with technologies such as AJAX, JSON, JavaScript, JQuery.  I incorporated concepts and design patterns like MVC in the projects assigned to me, learned how to manage a database using Postgresql; collaborated in a real world project using Github and Heroku.  Learned version control through RVM and gained invaluable problem solving skills, only learnt through experience.  I also extensively worked on various research projects, and implemented API’s each with unique aspects.  Lastly my stand alone project of deploying Red-mine is a highlight of my work at Giftopia. 
</p>
</div> 

<div id="feddevconclusion" class="container" style="display:none">

<h2> Conclusion </h2>

<p>
FedDev for me personally was a transition point in my life, where I went from a teanager to an adult.  This is where all the best practices had to be learned and utilized.  These include punctuality, discipline and a good work ethic.  This was the first time, where a lot of responsibility had been placed upon me that had to be met.  It was rewarding because I learned important work skills that I would use in any environment.  I learned how to work with external agencies, and deal with clients.  I also learned how to manage, multi-task and prioritize my work as per my job demand.  The work environment can be quite stressful, and that stress level has to be managed in order to continue good productivity.  Starting my career journey.  I never really knew what people meant when the said "It's good experience".  This job was where the word "experience" truly came into play, as the duties of my job had to be performed quite diligently.  I came out of this job a more competent and confident worker, because of said experience.  Now, at an interview I could talk about real world work experience, and discuss relevant examples with actual stakes rather than "the project where I needed to recieve a certain grade for school".  I now knew what it was like to work for the government in contrast with the private industry where the CEO of the company sat right next to me.  I met some incredible people and made great connections.   
</p>

</div>

<div id="blueconclusion" class="container" style="display:none">
	<h2>Conclusion</h2>
	<br>
	<p>I really enjoyed working with large amounts of data and the analytical process of turning data requests to actionable insight. This was a very good learning experience for me with Microsoft technologies.  Prior to this internship, I had never worked with large tables, with Microsoft Access, SQL or VBA. Furthermore, my experience with excel was limited to entering text values in the cells.  I really got to know excel functions, the best ways to manipulate large record sets; create pivot tables, and even do some VBA coding to automate some processes.  I learned that knowing how databases or pivot tables work is not really enough for the job; you really have to get to know the data itself, how it is set-up and get a feel for the numbers to see if they are producing accurate results.  Learning about the business itself was huge.  I had no idea that so much effort went into fundraising, that there would be companies to handle another companies appeals.  It was great to see all the measures associated with making a charitable organization work.  I saw different aspects of it, such as direct mailing, profits via reps, and email channels to name a few.  I saw a side of business analysis for invaluable experience, and learnt key indicators of performance.  The measures I most worked with were Revenue, gift count, donor count, average gift amount, ROI's (return on investment); How valuable a donor is, and  how to retain the donors.  And all that is associated with fundraising such as writing, tech, communication, arts.  It really broadened my horizon to see the business side of things.</p>
</div>

<div id="acknowledgements" class="container" style="display:none">
<h2>Acknowledgements:</h2>

<img style="width:40%; float:right;" src="http://www.northernlightshumanesociety.ca/wp-content/uploads/2012/11/thank-you1.jpg"></img>


<p>  I would like to thank my co-op coordinator Laura Gatto for her continuous support, guidance and encouragement throughout job searching process.  Also Greg Klotz for constantly working me with and being a patient advisor as I discover myself in my Academic path.
<br />
<br />

I would like to thank my CTO Adam Morisson for being a great mentor; and for passing on some of his wealth of knowledge and experience; his leadership, patience, and positivity made this term a truly enjoyable one.  And Randall Bird for providing a brilliant platform to work with. </p> 

<br />

<p>I would like to thank the entire IM/IT team, for making this term a wonderful one, along with the enjoyable but hectic work.  It really is all about the people you work with.</p>

<br />

<p>  I worked extremely closely with my manager David Schwindt.  Even though, he was managing, the IM, accomodations, mailroom and security teams; he was never short of time; and helped me settle into my role quite comfortably.  It is always good to have a nice manager, in this job in particular; the support of your manager is quite necessary for me to do my job confidently and happily, considering all the pressures of the job, his support was the backbone or the foundation of the confidence in my work.</p>

<br />

<p>  I would also like to thank Lenny Walker.  Along with David, he was a continuous source of support and encouragement.  He is a wealth of knowledge and experience and a joy to work with.  I am blessed to have mentors like him; who along with his work, provided feedback and help with anything I required.  </p>

<br />

<p>I would like to thank Cam and Debbie Shapansky for this opportunity to work at blue north.  It was a real homely worksite.  And the tech team; James Munroe and Pete Ward for a really good learning experience.  </p></br>

<p>Laura Gatto, B.A., M.Sc.<br />
Co-op Co-ordinator (Environmental Sciences, Computer Science & Software Engineering)<br />
Co-operative Education & Career Services<br />
Trent Lane<br />
University of Guelph<br />
Guelph, ON, N1G 2W1<br />
519-824-4120 x58243<br />
Fax:  519-829-3965</p><br />

<p>
Greg Klotz, Ph.D.<br />
Bachelor of Computing Program Counsellor<br />
School of Computer Science<br />
University of Guelph<br />
gklotz@uoguelph.ca<br />
519.824.4120 Extension 52711<br />
Reynolds 113<br />
</p><br />

<p>
Adam Morrison<br />
Chief Technology Officer<br />
(519) 998-6505<br />
adam@giftopia.me<br />
www.Giftopia.me<br />
</p><br />

<p>
Randy  Bird <br />
President <br />
Cell: 519-241-8833<br />
randy@giftopia.me<br />
</p><br />

<p>

~Lenny Walker<br/>
 
IT Project Officer - GCDOCS Administrator / IM/IT / Chief Financial Officer Branch<br />
Federal Economic Development Agency for Southern Ontario / Government of Canada<br />
lenny.walker@feddevontario.gc.ca / Telephone: 226-220-8854<br />
 
</p>
<br />

<p>
David Schwindt<br />
 
Manager, IM/IT, Chief Financial Officer Branch<br />
Federal Economic Development Agency for Southern Ontario / Government of Canada<br />
david.schwindt@feddevontario.gc.ca / Telephone: 519-404-9150<br />
</p>

<p>bluenorth^<br/>

Deb Shapansky<br/>

HR ADMINISTRATOR<br/>

416-527-4389<br/>

debbie.shapansky@bluenorth.ca<br/>
www.bluenorth.ca<br/>

Skype: debbie.shapansky</p><br/>

<p> bluenorth^<br/>
Pete Ward<br/>

Senior Director, Client Insights<br/>

1.519.400.6552<br/>

Skype: pete.bluenorth<br/>

pete.ward@bluenorth.ca<br/>
www.bluenorth.ca</p><br/>

<h2>Sources</h2>
	<p>http://www.uoguelph.ca/info/graphicstandards/files/UofGidentifier.jpg</p>
	<p>http://www.techvibes.com/public/cache/company/220x145/14093_giftopia_inc_255255255.jpg</p>
	<p>http://www.eventastic.com/img/eventastic_mobile.png</p>
	<p>https://lh3.ggpht.com/YEfWGuslxVoduDLBpQWek0H73nA_3aZ_BQu6ls7wTrPRvmbxDghLPU99i3LFKIIm-sc=w300</p>
	<p>http://peterbraid.ca/wp-content/uploads/2013/12/FDO_Twitter_thumbnailSmall.jpg</p>
	<p>http://www.fundica.com/fundica_template/providers/07a6_1333131946.png</p>
	<p>http://nerdinkblog.files.wordpress.com/2013/01/1642562-98978-busy-office-guy-at-work-on-his-computer.jpeg</p>
	<p>http://www.northernlightshumanesociety.ca/wp-content/uploads/2012/11/thank-you1.jpg</p>
	<p>http://codedmonkey.files.wordpress.com/2010/11/codemonkey.jpg</p>
	<p>https://d30y9cdsu7xlg0.cloudfront.net/png/38236-200.png</p>
	<p>https://media.licdn.
	<p>com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAZCAAAAJDljZTI4ZjA0LTk2OTgtNDM5MC1hZGU0LTMzYzJkY2MwM2ZiMw.png</p>
	<p>http://www.bluenorth.ca/services</p>
</div>

</center>

<div id="giftopiatips" class="container" style="display:none">

<h2> Trouble-shooting, Tips & Lessons </h2>

<p> These are some of my experiences, troubles and solutions I encountered at the work place.  One of the best experience was to de-bug and work through situations that did not pan out as intended. Also how my previous tasks could've been accomplished more efficiently. Below are some of the lessons I learnt, I would like to share with other Rails beginners. </p> <br />

<p> 1: To install gems, simply use bundle install, rather than bundle update.  Bundle update upgrades the gem to their most recent version.  This may be problematic as the some gems depend on other gems with their older versions.  Upgrading those gems could result in breaking dependencies.
If you have upgraded the gem, one way is to delete the Gemlock file, and re-install the gems, this should any conflicting error messages given.</p><br />

<p> 2: Google, stackoverflow, github, heroku(faq’s) are a great resource for trouble shooting.
Railstutorialguide is a better resource for thorough explanations, examples and documentation of functions, and the use of ruby on rails language.  It is a much quicker reference than Michael Hartl’s tutorial which is extremely test driven development oriented. </p> <br />


<p> 3:  Deploying Redmine on Heroku was rather difficult as it would reject the push for various reasons.  It would give an error and then another would appear the next time.  Trouble shooting was a long and lengthy process; It was because I was not working under the right branch.
When cloning an open source project from github, be cautious of the current ruby version and branch you are working under.  You generally want to work under the master branch as that is the most up to date and bug free version.  The branch I was working under was out-dated and broken.
Lastly, the reason I was working under that branch is because the Redmine installation process advised me so.  Not every installation process written on a site is fool-proof or completely accurate.  One cannot just blindly follow steps as they may lead one astray; One always want to have a certain level of knowledge and understanding of the commands and functions at use. </p><br />


<p> 4:  Learning where the classes are held and implementing a previously de-bugged code is great lesson.  Most of the code is built using blocks previously de-bugged and working code.  Learning to utilize those is a great skill to have. </p><br />


<p> 5: It is better to make classes and partial to be include on the page rather than styling everything separately.  Classes and partials make you code more modular, easier to maintain and better to look at.</p><br />

<p> 6:  Console.log(var) is a great tool to print what values are stored in a variable.
Controller Logic is extremely important when pushing values through to the database. </p> 

</div>

<div id="feddevtips" class="container" style="display:none">

<h2> Lessons Learned </h2>

<p> Below are some things that I learned in particular that I would like to mention.  Some of them are my experience, others may just seem obvious; but worth mentioning. </p><br />

<p> 1: You must proactively seek a solution rather than letting it be.  One of the major mistakes I made at work, is that I passed an application through testing when some of its functionality was not working.  The language around that mistake was "It should work with the java updates"; "I am not really worried".  My managers did not see it as my fault.  I however feel, that I should have followed up to ensure that the functions worked.  That and you should always have written approval to progress forward.  That one functionality turned out to be just a tip of the iceberg and led to more serious issues that could have been discovered a month earlier.  </p><br />

<p> 2: When looking for information, ask all the sources at once, and await reply, rather than asking different sources one by one.  It saves crucial time.  Also people are more likely to respond to a friendly one-liner email; than to a formal one in paragraph format.  It is much easier to recieve a reply if emailing one directly rather than CC'ing an entire team.  People feel less pressurized, and will give you an answer off the top of their head (usually correct) rather quickly than having to think of the proper formal wording of an answer. </p><br />

<p> 3: Also, one cannot just email people higher up in the government.  For DSR, I had to collect Minister GoodYear's barcode for the deployment map.  I fortunately did not end up making this mistake; as I could not find his email address and asked my Manager for that info.  However My managers made fun of me for the remainder of the semester (all in good fun).  One must always go through liasons to get information for the Ministers Office and other dignitaries.  </p><br />

<p> 4: If ever in doubt, seek clairification. </p><br />

<p> 5: When coordinating a team project.  You need to ensure that their end is being upheld as well.  For example after the final version of the DM was sent on our end.  DSR Leads had to make any further changes.  Sometimes they missed those changes.   It is always best to review to minimize errors. </p><br />


</div>

<div id="bluetips" class="container" style="display:none">
	<h2> Blue North Tips</h2>
	<br>
</div>


